---
title: 'Contact'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/IMG_1740.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/IMG_1740.jpeg">
            <img aria-hidden="true" decoding="async" src="/assets/images/IMG_1740.jpeg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" action="https://formspree.io/f/xeqybpaj"
            method="POST">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Scehdule with us</h2>
                    <p class="cs-text">
                        
                    </p>
                </div>
                <label>
                    Name
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    Email
                    <input required type="text" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    Phone
                    <input required type="text" id="phone" name="phone" placeholder="Phone">
                </label>
                <label>
                    Scheduele
                    <input  type="date" id="appointment" name="appointment">
                </label>
                <label class="cs-label-message">
                    Provide Service best suited for you and address
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit Message</button>
            </form>
            <div class="cs-right-section">

                <div class="cs-left">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/jacob.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/jacob.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/jacob.jpg" alt="cabinets" loading="lazy" width="400" height="500">
                    </picture>

            </div>
        </div>
    </section>
{% endblock %}