---
title: 'Projects'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'projects/'
eleventyNavigation:
    key: Projects
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Our Work</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/IMG_1740.jpeg">
            <source media="(min-width: 601px)" srcset="/assets/images/IMG_1740.jpeg">
            <img aria-hidden="true" decoding="async" src="/assets/images/IMG_1740.jpeg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->
    <html>
<body>
    <html>
        <body>
        </html>
</body>
</html>
         
    <section id="gallery">
        <div class="cs-container">
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/IIMG_5079 2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_5079 2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_5079 2.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/cars.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/cars.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/cars.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_5083.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_5083.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_5083.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/IMG_5082.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/IMG_5082.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/IMG_5082.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                  
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
                               <!-- Row 3 -->
                               <div class="cs-row cs-row-3">
                                <picture class="cs-picture cs-picture1">
                                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_5081.jpg">
                                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_5081.jpg">
                                    <img aria-hidden="true" decoding="async" src="/assets/images/IMG_5081.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                                </picture>
                                <picture class="cs-picture cs-picture1">
                                    <source media="(max-width: 600px)" srcset="/assets/images/IMG_5085.jpg">
                                    <source media="(min-width: 601px)" srcset="/assets/images/IMG_5085.jpg">
                                    <img aria-hidden="true" decoding="async" src="/assets/images/IMG_5085.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                                </picture>
                               
            

                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                </div>
            </div>
            <a href="/contact" class="cs-button-solid">Get Free Quote</a>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}